.box1 {
  width: 100px;
  height: 100px;
  background: url(img/1.png) no-repeat no-repeat;
}
.box2 {
  width: 100px;
  height: 100px;
  background: url(img/2.jpg) no-repeat no-repeat;
}
.box3 {
  width: 100px;
  height: 100px;
  background: url(img/3.png) no-repeat no-repeat;
}
